<template>
    <div class="game" id="game-container">

    </div>
</template>


<script>

    import GameContainer from '../js/core/GameContainer'

    let game = new GameContainer();

    export default {
        name: 'Game',
        components: {},
        mounted() {

            game.init();

        }
    }

</script>